@import 'src/common/variables.scss';

.schedule {
    width: 95%;
    margin: 0 auto;
    border: $cell-border;
    border-radius: 10px;

    &__container {
        display: flex;
        height: 8vh;
        width: 100%;

        &--mass {
            height: 5vh;
        }
    }
}