@import "../../common/variables";
.article {
  font-size: 1.8rem;
  // margin: 10px 0;

  &__title {
    line-height: 1.2;
    max-width: 90%;

    &-wrapper {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      font-weight: bold;
      transition: background-color 0.5s;
      &--active {
        background-color: $classified-color;
      }
    }
  }
  &__published {
    margin: 2vh 0;
    font-style: italic;
    font-size: 1.5rem;
  }

  &__content {
    line-height: 1.6;

    ol {
      margin-left: 20px;
      list-style-type: decimal;
    }
    ul {
      margin-left: 20px;
      list-style-type: disc;
    }
    li {
      margin-top: 5px;
    }
    b,
    strong {
      font-weight: bold;
    }
    i,
    em,
    q {
      font-style: italic;
    }
    sub,
    sup {
      position: relative;
      font-size: 75%;
      vertical-align: baseline;
      line-height: 0;
    }
    sup {
      top: -0.5em;
    }
    sub {
      top: 0.25em;
    }

    &-container {
      height: 0;
      // max-height: 0;
      width: 92%;
      margin: 0 auto;
      overflow: hidden;
      // transition: max-height 0.7s -0.2s;

      &--active {
        // max-height: 2500px;
        // transition-delay: 0s;
        height: auto;
        margin-bottom: 5vh;
      }
    }
  }
  &__show {
    display: block;
    height: 100%;
    font-size: 3rem;
    color: $classified-color;
    &::before {
      content: "+";
    }
    &--active {
      color: #fff;
      &::before {
        content: "-";
      }
    }
  }
}
