@import 'src/common/variables.scss';

.schedule {
    &__content {
        font-size: 13px;

        &-cell {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}