@import "../../common/_variables";

.schedule {
  max-width: 500px;
  height: 329px;
  margin: 0 auto;
  cursor: grab;

  @media (min-width: 500px) {
      width: 90%;
  }

  &__date {
    display: flex;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: lighten($body-bgc, 1%);
    font-size: 1.9rem;
    font-weight: bold;
  }
  &__container {
    box-sizing: border-box;
    display: grid;
    position: relative;
    grid-template-rows: 35px repeat($grid-masses-count, $grid-row-min-height);
    grid-template-columns: 30% 1fr;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    height: 238px;
    border: 2px solid black;
    border-radius: $border-radius;
    background-color: #fff;
    overflow: hidden;

  }
  &__button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  &__button {
    width: 12%;
    padding: 10px;
    height: 50px;
    transform: scale(1);
    font-family: "Roboto Condensed", "Roboto", sans-serif;
    background-color: transparent;
    font-size: 1.6rem;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: transform 0.1s;

    path {
      transition: fill 0.15s;
    }

    &:active {
      transform: scale(0.7);
    }

    &:hover path {
      fill: lighten($color: #515151, $amount: 7%);
    }

    &--previous {
      transform: rotateY(-180deg);

      &:active {
        transform: rotateY(-180deg) scale(0.7);
      }
    }

    &--actual {
      &:active {
        transform: scale(0.8);
      }
    }

    &--hidden {
      visibility: hidden;
    }
  }
}

.swiper-slide  {
  width: 90% !important;
  padding: 0 5%;
}

.swiper-container {
  @media (min-width: 500px) {
    overflow: visible !important;
  }
}
