@import "../variables";
@import "../widget";

.logo {
  &__container {
    width: auto;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    font-size: 2rem;
  }
  &__link {
    -webkit-tap-highlight-color: transparent;
  }
  &__img {
    max-width: 130px;
    margin-bottom: 20px;
    transform: scale(1);
    transition: filter 0.2s, transform 0.1s;

    &:hover {
      filter: brightness(0.9);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
