@import "../../common/variables";
@import "../../common/widget";

.classifieds {
  margin: 0 auto;
  &__list {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    position: relative;
    min-height: 240px;
  }
}
