@import "../../common/variables";
@import "../../common/widget";

.classifieds {
  margin: 0 auto;
  &__list {
    max-width: 1400px;
    margin: 0 auto;
  }
  &__item {
    -webkit-tap-highlight-color: transparent;
  }
  &__wrapper {
    position: relative;
    min-height: 200px;
  }
}
