@import "./common/reset";
@import "./common/variables";

html {
  font-size: $font-size-base;
  font-family: $font-family-base;
}

body {
  background-color: $body-bgc;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: #007bff;
  text-decoration: none;
  outline: 0;

  &:focus,
  &:visited,
  &:active {
    outline: 0;
  }
}
