@import "./common/reset";
@import "./common/variables";

html {
  font-size: $font-size-base;
  font-family: $font-family-base;
}
body {
  background-color: $body-bgc;
}
a {
  color: #007bff;
  text-decoration: none;
}
